<section class="family-container">
  <h2>Moje obitelji</h2>

  <ul *ngIf="families$ | async as families; else noFamilies">
    <ng-container *ngIf="families.length > 0; else noFamilies">
      <li *ngFor="let family of families">
        <strong>{{ family.name }}</strong> ({{ family.members.length }} članova)
      </li>
    </ng-container>
  </ul>

  <ng-template #noFamilies>
    <p>Niste član nijedne obitelji.</p>
  </ng-template>


  <button routerLink="/create-family">Nova obitelj</button>
</section>
